
<section class="demo">

    <img src="assets/life-cycle.png"/>

    <span class="button red" (click)="remove()">•</span>
    <span class="button green" (click)="create()">•</span>

    <!-- If variable STATE equals false, this component is removed from the DOM. -->
    <app-city *ngIf="state"></app-city>
    
    <hr/>
 
    <span class="button red" (click)="incrTemp()">•</span>
    <span class="button green" (click)="incrWind()">•</span>

    <!-- 2 inputs : Forecast is an object, temperature is a number -->
    <app-weather [weather]="forecast" [temp]="temperature"></app-weather>

</section>
